body {
    background-color: #D7F5F5;
    text-align: center;
    align-content: center;
    font-family: 'Nanum Brush Script', cursive;
    color: #224960;
}

#spel th, #spel td {
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 60px;
}

#th0 {
    width:30px;
}

#spel {
    background-color: #D7F5F5;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#spelMeta {
    background-color: #D7F5F5;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-bottom: 20px;
}

#spel tr:first-child, #spel tr:nth-child(2) {
    border-bottom: 5px solid #BBB5BD;
}

#spel td:first-child, #spel td:nth-child(2) {
    border-right: 5px solid #BBB5BD;
}

#spel, #spelMeta{
    border-collapse: collapse;
}

#spel{
    margin-bottom:40px;
}

.winning {
    background-color: rgba(214, 200, 238, 0.88);
    transition:background-color 1.5s ease;
}

#player1score {
    transition:background-color 1.5s ease;
}

#player2score{
    transition:background-color 1.5s ease;
}

#leave, #nextGame {
    display: none;
}

span {
    font-size: 30px;
}

#leave {
    padding: 30px 25px;
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 24px;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #F92B20;
    border: none;
    border-radius: 50%;
    box-shadow: 0 9px #BBB5BD;
}

#leave:active {
    background-color: #DD261C;
    box-shadow: 0 5px #BBB5BD;
    transform: translateY(4px);
}

#join, #nextGame {
    padding: 30px 25px;
    font-size: 24px;
    margin-bottom: 24px;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #64d73d;
    border: none;
    border-radius: 50%;
    box-shadow: 0 9px #BBB5BD;
    margin-right: 20px;
    margin-left: 20px;
}

#nextGame {
    letter-spacing: 2px;
}

#join:active, #nextGame:active {
    background-color: #64d73d;
    box-shadow: 0 5px #BBB5BD;
    transform: translateY(4px);
}

header {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 40px;
}

table {
    font-size: 25px;
    padding: 10px;
    margin: 10px;
}

.container{
    width:80%;
    margin: auto;
    padding:0;
    display:block;
}

#turnBoard {
    position: relative;
    bottom: 12px;
    margin: auto;
}

#info:hover,
#info:focus,
#info:active {
    color: blue;
    transition: all 0.3s ease-in;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

#online{
    position: relative;
    float: right;
}

.gradGreen{
    background: linear-gradient(to bottom right, #64d73d, #51a32f);
}

.gradBlue{
    background: linear-gradient(to bottom right, #32b5d7, #2e8cad);
}

.gradGray{
    background: linear-gradient(to bottom right, #a8a8a8, #919191);
}

.gradPink{
    background: linear-gradient(to bottom right, #D6C8EE, #b9abd1);
}

#figTorso {
    display:block;
    width: 15px;
    height: 22px;
    border-radius: 100% 100% 10% 10%;
}

#figHead{
    margin-top: -10px;
    display:block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    position: relative;
    top : 2px;
}

#player1icon, #player2icon{
    position: absolute;
}

#player1icon {
    left: -20px;
}

/* Button om te sluiten */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media (min-width:481px){

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 80px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 50px;
        border: 1px solid #888;
        width:50%;
        font-size:20px;
        line-height: 25px;
    }

    #info {
        float:left;
        position: absolute;
        font-size: 20px;
        display: block;
        background:transparent;
        color: black;
        text-decoration: none;
        border:none;
    }

    #infobox{
        float: left;
        position: relative;
        bottom:5px;
    }
}

/* mobiele versie */
@media (max-width:480px) {

    header {
        font-size: 30px;
        margin-bottom:0px;
        margin-top: 10px;
    }

    #join, #nextGame, #leave {
        padding: 15px 10px;
        font-size: 20px;
        margin-bottom: 15px;
        margin-right: 8px;
        margin-left: 8px;
        box-shadow: 0 5px #BBB5BD;
    }

    #spelMeta {
        margin-top: 10px;
        padding: 0px;
        margin-bottom: 10px;
        font-size:20px;
    }

    #turnBoard {
        font-size:20px;
        position: relative;
        bottom: 5px;
        margin: auto;
    }

    #spel th, #spel td {
        height: 85px;
        width: 85px;
        text-align: center;
        font-size: 40px;
    }

    #spel{
        margin-bottom:50px;
    }

    #th0 {
        width:30px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width:95%;
        line-height: 18px;

    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 10px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);

    }

    #info {
        float:left;
        position: absolute;
        font-size: 14px;
        display: block;
        background:transparent;
        color: black;
        text-decoration: none;
        border:none;
    }

    #infobox{
        float: left;
        position: relative;
        bottom:0px;
    }
}

